<%- include('../includes/row-opening') %>
  <%- include('../includes/nav') %>
  <div class="center col-center">
    <h2>Latest Shots</h2>

    <table class="dashboard-table">
      <thead class="shots-table-head">
        <tr>
          <th>User</th>
          <th>Date</th>
          <th colspan="5">
            <div class="ratings-info">
              Ratings
              <div class="ratings-info-text">Aromatics/Body/Acidity
                <div>Sweetness/Aftertaste</div>
              </div>
            </div>
          <th class="end-col">Details</th>
          </th>
        </tr>
      </thead>
      <tbody>
        <% shots.forEach(shot => { %>
          <tr>
            <td><%= shot.user.username || `-` %></td>
            <td class="dashboard-date"><%= shot.date.toLocaleString("en-US", { dateStyle: "short" }) %></td>
            <td><%= shot.aromaticsRating || `-` %></td>
            <td><%= shot.bodyRating || `-` %></td>
            <td><%= shot.acidityRating || `-` %></td>
            <td><%= shot.sweetnessRating || `-` %></td>
            <td><%= shot.aftertasteRating || `-` %></td>
            <td><a class="link" href="/shots/<%= shot._id %>">-></a></td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  </div>
  <%- include('../includes/aside-quote') %>
<%- include('../includes/row-close') %>