<%- include('../includes/row-opening') %>
  <%- include('../includes/nav') %>
    <div class="center col-6 col-s-9">

      <h2>Add Shots</h2>

      <form action="/shots" method="POST">

        <label for="beanId">Select beans:</label>
        <select name="beanId" required><br />
          <% user.beans.forEach(bean=> { %>
            <% if (bean._id.equals(shot.bean._id)) { %>
              <option selected value="<%= bean._id.toString() %>">
                <%= `${bean.brand} ${bean.variety}`%>
              </option>
            <% } else { %>
              <option value="<%= bean._id.toString() %>">
                <%= `${bean.brand} ${bean.variety}` %>
              </option>
            <% } %>
          <% }) %>
        </select><br /><br />

        <label for="roastDate">(Optional) Roast date of beans:</label>
        <input type="date" name="roastDate" /><br /><br />

        <label for="machineId">Select machine:</label>
        <select name="machineId" required><br />
          <% user.machines.forEach(machine=> { %>
            <% if (machine._id.equals(shot.machine._id)) { %>
              <option selected value="<%= machine._id.toString() %>">
                <%= `${machine.brand} ${machine.name}` %>
              </option>
            <% } else { %>
              <option value="<%= machine._id.toString() %>">
                <%= `${machine.brand} ${machine.name}` %>
              </option>
            <% } %>
          <% }) %>
        </select><br /><br />

        <label for="grinderId">Select grinder:</label>
        <select name="grinderId" required><br />
          <% user.grinders.forEach(grinder=> { %>
            <% if (grinder._id.equals(shot.grinder._id)) { %>
              <option selected value="<%= grinder._id.toString() %>">
                <%= `${grinder.brand} ${grinder.name}` %>
              </option>
            <% } else { %>
              <option value="<%= grinder._id.toString() %>">
                <%= `${grinder.brand} ${grinder.name}` %>
              </option>
            <% } %>
          <% }) %>
        </select><br /><br />

        <label for="grindsWeightGrams">Weight of grounds (grams):</label>
        <input type="number" name="grindsWeightGrams" value="<%= shot.grindsWeightGrams %>" required min="0"
          step="1" /><br /><br />

        <label for="durationSeconds">Duration of shot pull (seconds):</label>
        <input type="number" name="durationSeconds" value="<%= shot.durationSeconds %>" required min="0"
          step="1" /><br /><br />

        <label for="shotsWeightGrams">Weight of pulled shots (grams):</label>
        <input type="number" name="shotsWeightGrams" value="<%= shot.shotsWeightGrams %>" required min="0"
          step="1" /><br /><br />

        <div>
          <legend>Body (more info):</legend>
          <div>
            <input type="radio" id="bodyRatingChoice1" name="bodyRating" value="1" />
            <label for="bodyRatingChoice1">1</label>

            <input type="radio" id="bodyRatingChoice2" name="bodyRating" value="2" />
            <label for="bodyRatingChoice2">2</label>

            <input type="radio" id="bodyRatingChoice3" name="bodyRating" value="3" checked />
            <label for="bodyRatingChoice3">3</label>

            <input type="radio" id="bodyRatingChoice4" name="bodyRating" value="4" />
            <label for="bodyRatingChoice4">4</label>

            <input type="radio" id="bodyRatingChoice5" name="bodyRating" value="5" />
            <label for="bodyRatingChoice5">5</label>
          </div>
        </div>

        <div>
          <legend>Acidity (more info):</legend>
          <div>
            <input type="radio" id="acidityRatingChoice1" name="acidityRating" value="1" />
            <label for="acidityRatingChoice1">1</label>

            <input type="radio" id="acidityRatingChoice2" name="acidityRating" value="2" />
            <label for="acidityRatingChoice2">2</label>

            <input type="radio" id="acidityRatingChoice3" name="acidityRating" value="3" checked />
            <label for="acidityRatingChoice3">3</label>

            <input type="radio" id="acidityRatingChoice4" name="acidityRating" value="4" />
            <label for="acidityRatingChoice4">4</label>

            <input type="radio" id="acidityRatingChoice5" name="acidityRating" value="5" />
            <label for="acidityRatingChoice5">5</label>
          </div>
        </div>

        <div>
          <legend>Aromatics (more info):</legend>
          <div>
            <input type="radio" id="aromaticsRatingChoice1" name="aromaticsRating" value="1" />
            <label for="aromaticsRatingChoice1">1</label>

            <input type="radio" id="aromaticsRatingChoice2" name="aromaticsRating" value="2" />
            <label for="aromaticsRatingChoice2">2</label>

            <input type="radio" id="aromaticsRatingChoice3" name="aromaticsRating" value="3" checked />
            <label for="aromaticsRatingChoice3">3</label>

            <input type="radio" id="aromaticsRatingChoice4" name="aromaticsRating" value="4" />
            <label for="aromaticsRatingChoice4">4</label>

            <input type="radio" id="aromaticsRatingChoice5" name="aromaticsRating" value="5" />
            <label for="aromaticsRatingChoice5">5</label>
          </div>
        </div>

        <div>
          <legend>Sweetness (more info):</legend>
          <div>
            <input type="radio" id="sweetnessRatingChoice1" name="sweetnessRating" value="1" />
            <label for="sweetnessRatingChoice1">1</label>

            <input type="radio" id="sweetnessRatingChoice2" name="sweetnessRating" value="2" />
            <label for="sweetnessRatingChoice2">2</label>

            <input type="radio" id="sweetnessRatingChoice3" name="sweetnessRating" value="3" checked />
            <label for="sweetnessRatingChoice3">3</label>

            <input type="radio" id="sweetnessRatingChoice4" name="sweetnessRating" value="4" />
            <label for="sweetnessRatingChoice4">4</label>

            <input type="radio" id="sweetnessRatingChoice5" name="sweetnessRating" value="5" />
            <label for="sweetnessRatingChoice5">5</label>
          </div>
        </div>

        <div>
          <legend>Aftertaste (more info):</legend>
          <div>
            <input type="radio" id="aftertasteRatingChoice1" name="aftertasteRating" value="1" />
            <label for="aftertasteRatingChoice1">1</label>

            <input type="radio" id="aftertasteRatingChoice2" name="aftertasteRating" value="2" />
            <label for="aftertasteRatingChoice2">2</label>

            <input type="radio" id="aftertasteRatingChoice3" name="aftertasteRating" value="3" checked />
            <label for="aftertasteRatingChoice3">3</label>

            <input type="radio" id="aftertasteRatingChoice4" name="aftertasteRating" value="4" />
            <label for="aftertasteRatingChoice4">4</label>

            <input type="radio" id="aftertasteRatingChoice5" name="aftertasteRating" value="5" />
            <label for="aftertasteRatingChoice5">5</label>
          </div>
        </div>

        <label for="comments">(Optional) Comments:</label>
        <input type="text" name="comments" /><br /><br />

        <label for="favorite">Mark this shot as a favorite: </label>
        <input type="checkbox" name="favorite" value="true" /><br /><br />

        <button>Submit New Shot</button>
      </form>
    </div>
  <%- include('../includes/aside-quote') %>
<%- include('../includes/row-close') %>