<%- include('../includes/row-opening') %>
  <%- include('../includes/nav') %>
  <div class="col-6 col-s-9">
    <h2>Add Shots</h2>
    <form action="/shots" method="POST">
      <label for="beanId">Select beans:</label>
      <select name="beanId" required /><br />
        <% user.beans.forEach(bean => { %>
          <option value="<%= bean._id.toString() %>"><%= bean.brand %> <%= bean.variety %></option>
        <% }) %>
      </select><br />
      <label for="machineId">Select machine:</label>
      <select name="machineId" required /><br />
        <% user.machines.forEach(machine => { %>
          <option value="<%= machine._id.toString() %>"><%= machine.brand %> <%= machine.name %></option>
        <% }) %>
      </select><br />
      <select name="grinderId" required /><br />
        <% user.grinders.forEach(grinder => { %>
          <option value="<%= grinder._id.toString() %>"><%= grinder.brand %> <%= grinder.name %></option>
        <% }) %>
      </select><br />
      <input type="number" name="grindsWeightGrams" placeholder="grind weight in grams" required min="0" step="1" /><br />
      <input type="number" name="durationSeconds" placeholder="shot duration in seconds" required min="0" step="1" /><br />
      <input type="number" name="shotsWeightGrams" placeholder="weight of pulled shots in grams" required min="0" step="1" /><br />
      <input type="text" name="comments" placeholder="comments" /><br />
      <input type="checkbox" name="favorite"/><span>Favorite</span><br />
      <button>Submit</button>
    </form>
  </div>
  <%- include('../includes/aside-quote') %>
<%- include('../includes/row-close') %>