<%- include('../includes/row-opening') %>
  <%- include('../includes/nav') %>
  <div class="col-6 col-s-9">
    <h2>Add Shots</h2>
    <form action="/shots" method="POST">

      <label for="beanId">Select beans:</label>
      <select name="beanId" required /><br />
        <% user.beans.forEach(bean => { %>
          <option value="<%= bean._id.toString() %>"><%= bean.brand %> <%= bean.variety %></option>
        <% }) %>
      </select><br /><br />

      <label for="roastDate">(Optional) Roast date of beans:</label>
      <input type="date" name="roastDate"/><br /><br />

      <label for="machineId">Select machine:</label>
      <select name="machineId" required /><br />
        <% user.machines.forEach(machine => { %>
          <% if (machine._id.equals(shot.machine._id)) { %>
            <option selected value="<%= machine._id.toString() %>">
          <% } else { %>
            <option value="<%= machine._id.toString() %>">
          <% } %>
              <%= machine.brand %> <%= machine.name %>
            </option>
        <% }) %>
      </select><br /><br />

      <label for="grinderId">Select grinder:</label>
      <select name="grinderId" required /><br />
        <% user.grinders.forEach(grinder => { %>
          <option value="<%= grinder._id.toString() %>"><%= grinder.brand %> <%= grinder.name %></option>
        <% }) %>
      </select><br /><br />

      <label for="grindsWeightGrams">Weight of grounds (grams):</label>
      <input type="number" name="grindsWeightGrams" value="<%= shot.grindsWeightGrams %>" required min="0" step="1" /><br /><br />

      <label for="durationSeconds">Duration of shot pull (seconds):</label>
      <input type="number" name="durationSeconds" value="<%= shot.durationSeconds %>" required min="0" step="1" /><br /><br />

      <label for="shotsWeightGrams">Weight of pulled shots (grams):</label>
      <input type="number" name="shotsWeightGrams" value="<%= shot.shotsWeightGrams %>" required min="0" step="1" /><br /><br />

      <label for="comments">(Optional) Comments:</label>
      <input type="text" name="comments" /><br /><br />

      <label for="favorite">Mark this shot as my last favorite: </label>
      <input type="checkbox" name="favorite" value="true"/><br /><br />

      <button>Submit New Shot</button>
    </form>
  </div>
  <%- include('../includes/aside-quote') %>
<%- include('../includes/row-close') %>