<%- include('../includes/row-opening') %>
  <%- include('../includes/nav') %>
  <div class="center col-6 col-s-9">
    <header class="dashboard-section-header">
      <h2 class="subheader">Shot Details</h3>
      <span class="header-links">
        <a class="link" href="/shots/<%= shot.id %>/edit">Edit</a>&nbsp;&nbsp;&nbsp;
        <a class="link" href="/shots/<%= shot.id %>/delete">Delete</a>
      </span>
    </header>

    <h4>Preparation</h4>
    <div class="section-underline"></div>

    <p><strong>Date:</strong> <%= shot.date.toLocaleString("en-US", { dateStyle: "short", timeStyle: "short"}) %></p>
    <p><strong>Beans:</strong> <%= shot.bean.brand + ' ' + shot.bean.name%></p>
    <p><strong>Machine:</strong> <%= shot.machine.brand + ' ' + shot.machine.name%></p>
    <p><strong>Grinder:</strong> <%= shot.grinder.brand + ' ' + shot.grinder.name%></p>
    <p><strong>Weight of grinds:</strong> <%= shot.grindsWeightGrams %> grams</p>
    <p><strong>Weight of shots:</strong> <%= shot.shotsWeightGrams %> grams</p>
    <br />

    <h4>Results</h4>
    <div class="section-underline"></div>

    <p><strong>Aromatics:</strong> <%= shot.aromaticsRating %></p>
    <p><strong>Body:</strong> <%= shot.bodyRating %></p>
    <p><strong>Acidity:</strong> <%= shot.acidityRating %></p>
    <p><strong>Sweetness:</strong> <%= shot.sweetnessRating %></p>
    <p><strong>Aftertaste:</strong> <%= shot.aftertasteRating %></p>
    <p><strong>Comments:</strong> <%= shot.comments %></p>

  </div>
  <%- include('../includes/aside-quote') %>
<%- include('../includes/row-close') %>