<%- include('../includes/row-opening') %>
  <%- include('../includes/nav') %>
  <div class="col-6 col-s-9">
    <a href="/shots/new">New Shot</a>
    <h2>Shot <%= shot.id %></h2>
    <p><a href="/shots/<%= shot.id %>/edit">Edit</a> <a href="/shots/<%= shot.id %>/delete">Delete</a></p>
    <p>Date pulled: <%= shot.date %></p>
    <p>Beans: <%= shot.beans %></p>
    <p>Machine: <%= shot.machine %></p>
    <p>Weight of grinds: <%= shot.grindsWeight %></p>
    <p>Weight of shots: <%= shot.shotsWeight %></p>
    <p>Time to pull: <%= shot.pullTime %></p>
    <p>Comments: <%= shot.comments %></p>
  </div>
  <%- include('../includes/aside-quote') %>
<%- include('../includes/row-close') %>