<%- include('../includes/row-opening') %>
  <%- include('../includes/nav') %>
  <div class="center col-6 col-s-9">
    <h2 class="subheader">Shot Details</h2>
    
    <header class="dashboard-section-header">
      <h3 >By <%= shot.user.username %> - <%= shot.date.toLocaleString("en-US", { dateStyle: "short", timeStyle: "short"}) %></h3>
      <% if (isOwner) { %>
        <span class="header-links">
          <a class="link" href="/shots/<%= shot._id.toString() %>/edit">Edit</a>&nbsp;&nbsp;&nbsp;
          <a class="link" href="/shots/<%= shot._id.toString() %>/delete">Delete</a>
        </span>
      <% } %>
    </header>
    <div class="section-underline"></div>
    <% if (shot.comments) { %>
      <p><strong>Comments:</strong> <%- shot.comments %></p>
    <% } %>
    <br />


    <h4>Equipment</h4>
    <div class="section-underline"></div>

    <p><strong>Beans:</strong> <%- shot.bean.brand + ' ' + shot.bean.name%></p>
    <p><strong>Machine:</strong> <%- shot.machine.brand + ' ' + shot.machine.name%></p>
    <p><strong>Grinder:</strong> <%- shot.grinder.brand + ' ' + shot.grinder.name%></p>
    <br />

    <% if (shot.grinderSetting || shot.grindsWeightGrams || shot.durationSeconds || shot.shotsWeightGrams) { %>
      <h4>Preparation and Output</h4>
      <div class="section-underline"></div>
    <% } %>

    <% if (shot.grinderSetting) { %>
      <p><strong>Grinder setting:</strong> <%= shot.grinderSetting %></p>
    <% } %>
    <% if (shot.grindsWeightGrams) { %>
      <p><strong>Weight of grinds:</strong> <%= shot.grindsWeightGrams %> grams</p>
    <% } %>
    <% if (shot.durationSeconds) { %>
      <p><strong>Shot duration:</strong> <%= shot.durationSeconds %> seconds</p>
    <% } %>
    <% if (shot.shotsWeightGrams) { %>
      <p><strong>Weight of shots:</strong> <%= shot.shotsWeightGrams %> grams</p>
    <% } %>

    <br />

    <% if (shot.aromaticsRating || shot.bodyRating || shot.acidityRating || shot.sweetnessRating || shot.aftertasteRating) { %>
    <h4>Results</h4>
    <div class="section-underline"></div>
    <% } %>

    <% if (shot.aromaticsRating) { %>
      <p><strong>Aromatics:</strong> <%= shot.aromaticsRating %></p>
    <% } %>
    <% if (shot.bodyRating) { %>
      <p><strong>Body:</strong> <%= shot.bodyRating %></p>
    <% } %>
    <% if (shot.acidityRating) { %>
      <p><strong>Acidity:</strong> <%= shot.acidityRating %></p>
    <% } %>
    <% if (shot.sweetnessRating) { %>
      <p><strong>Sweetness:</strong> <%= shot.sweetnessRating %></p>
    <% } %>    
    <% if (shot.aftertasteRating) { %>
      <p><strong>Aftertaste:</strong> <%= shot.aftertasteRating %></p>
    <% } %> 

  </div>
  <%- include('../includes/aside-quote') %>
<%- include('../includes/row-close') %>