<%- include('../includes/row-opening') %>
  <%- include('../includes/nav') %>
  <div class="col-6 col-s-9">
    <a href="/beans/new">New Beans</a>
    <h2>Beans from <%= bean.brand %></h2>
    <p>Variety: <%= bean.variety %></p>
    <p>Roast Date: <%= bean.roastDate.toLocaleDateString() %></p>
  </div>
  <%- include('../includes/aside-quote') %>
<%- include('../includes/row-close') %>