<%- include('../includes/row-opening') %>
  <%- include('../includes/nav') %>
  <div class="center col-center">
    <a href="/grinders/new">New Grinder</a>
    <h2>Grinder from <%- grinder.brand %></h2>
    <p>Name: <%- grinder.name %></p>
  </div>
  <%- include('../includes/aside-quote') %>
<%- include('../includes/row-close') %>