<%- include('../includes/row-opening') %>
  <%- include('../includes/nav') %>
  <div class="col-6 col-s-9">
    <a href="/grinders/new">New Grinder</a>
    <h2>Grinder from <%= grinder.brand %></h2>
    <p>Name: <%= grinder.name %></p>
  </div>
  <%- include('../includes/aside-quote') %>
<%- include('../includes/row-close') %>