<%- include('../../includes/row-opening') %>
  <%- include('../../includes/nav') %>
  <div class="col-6 col-s-9">
    <h2>Add Grinder to My Account</h2>
    <form action="/users/me/grinders" method="POST">
        <label for="grinderId">Select a grinder:</label>
        <select name="grinderId" required /><br />
        <% grinders.forEach(grinder => { %>
            <option value="<%= grinder._id.toString() %>"><%= grinder.brand %> <%= grinder.name %></option>
        <% }) %>
        </select>
        <button>Submit</button>
    </form>
  </div>
  <%- include('../../includes/aside-quote') %>
<%- include('../../includes/row-close') %>