<%- include('../../includes/row-opening') %>
  <%- include('../../includes/nav') %>
  <div class="center col-6 col-s-9">
    <h2 class="subheader">Shots History</h2>

    <% if (shots.length) { %>
      <table class="dashboard-table">
        <thead class="shots-table-head">
          <tr>
            <th class="end-col">Details</th>
            <th>Date</th>
            <th colspan="5">
              <div class="ratings-info">
                Ratings
                <div class="ratings-info-text">Aromatics/Body/Acidity
                  <div>Sweetness/Aftertaste</div>
                </div>
              </div>
            </th>
            <th class="end-col">Edit</th>
            <th class="end-col">Delete</th>
          </tr>
        </thead>
        <tbody class="shots-body">
          <% shots.forEach(shot => { %>
            <tr>
              <td><a class="link" href="/shots/<%= shot._id %>">-></a></td>
              <td class="dashboard-date"><%= shot.date.toLocaleString("en-US", { dateStyle: "short" }) %></td>
              <td><%= shot.aromaticsRating || `-` %></td>
              <td><%= shot.bodyRating || `-` %></td>
              <td><%= shot.acidityRating || `-` %></td>
              <td><%= shot.sweetnessRating || `-` %></td>
              <td><%= shot.aftertasteRating || `-` %></td>
              <td><a class="link" href='/shots/<%= shot.id %>/edit'>&#x270E;</a></td>
              <td><a class="link" href='/shots/<%= shot.id %>/delete'>X</a></td>
            </tr>
          <% }) %>
        </tbody>
      </table>
    <% } else { %>
      <p>You don't have any shots yet :(</p>
    <% } %>
  </div>
  <%- include('../../includes/aside-quote') %>
<%- include('../../includes/row-close') %>