<%- include('../includes/row-opening') %>
  <%- include('../includes/nav') %>
  <div class="center col-6 col-s-9">
    <h2 class="subheader">Search Results</h2>
    <p>Found the following:</p>

    <% if (results.length) { %>
        <% results.forEach((result) => { %>
            <div>
              <span>
                User:
                <%= result.user.username %> on <%= result.date.toLocaleString("en-US", { dateStyle: "short" }) %>
              </span> <br />
              <span>
                Setup:
                <%- result.bean.brand + ' ' + result.bean.name %> /
                <%- result.machine.brand + ' ' + result.machine.name %> /
                <%- result.grinder.brand + ' ' + result.grinder.name %>
              </span> <br />
              <span>
                Comments:
                <%- result.comments %>
              </span>
          </div>
          <br />


        <% }) %>
        <br />
    <% } else { %>
    <p>Nothing found</p>
    <% } %>

  </div>
  <%- include('../includes/aside-quote') %>
<%- include('../includes/row-close') %>