<%- include('../includes/row-opening') %> <%- include('../includes/nav') %>
<div class="center col-center">
  <h2>Error <%= errorCode %></h2>

  <p><%= errorMessage %></p>
  <p>
    Please go back and try again (or maybe don't if you were doing something you
    shouldn't have?)
  </p>
</div>
<%- include('../includes/aside-quote') %> <%- include('../includes/row-close')
%>
