<%- include('../includes/row-opening') %>
  <%- include('../includes/nav') %>
  <div class="col-6 col-s-9">
    <h2>New User Created</h2>
    <p>Hello <%= username %></p>
  </div>
  <%- include('../includes/aside-quote') %>
<%- include('../includes/row-close') %>