<%- include('../includes/row-opening') %>
  <%- include('../includes/nav') %>
    <div class="center col-center">
      <h2 class="subheader">My Dashboard</h2>
        <header class="dashboard-section-header">
          <h3 class="subheader">My Shots</h3>
          <span class="header-links"><a class="new-shot-link" href="/shots/new">Pull a New Shot</a></span>
        </header>
        <div class="section-underline"></div>
      
        <div>  
          <% if (!user.beans.length || !user.machines.length || !user.grinders.length) { %>
            <p><strong>You can't record a shot without equipment!</strong></p>
            <p>Add at least one variety of <a class="link" href="/users/me/beans/new">beans</a>, one <a class="link" href="/users/me/machines/new">machine</a>, and one <a class="link" href="/users/me/grinders/new">grinder</a> to your account, then try again.</p>
          <% } %>

          <% if (user.shots.length) { %>
            <table class="dashboard-table">
              <thead class="shots-table-head">
                <tr>
                  <th class="end-col">Details</th>
                  <th>Date</th>
                  <th colspan="5">
                    <div class="ratings-info">
                      Ratings
                      <div class="ratings-info-text">Aromatics/Body/Acidity
                        <div>Sweetness/Aftertaste</div>
                      </div>
                    </div>
                  </th>
                  <th class="end-col">Edit</th>
                  <th class="end-col">Delete</th>
                </tr>
              </thead>
              <tbody class="shots-body">
                <% user.shots.forEach(shot => { %>
                  <tr>
                    <td><a class="link" href="/shots/<%= shot._id %>">-></a></td>
                    <td class="dashboard-date"><%= shot.date.toLocaleString("en-US", { dateStyle: "short" }) %></td>
                    <td><%= shot.aromaticsRating || `-` %></td>
                    <td><%= shot.bodyRating || `-` %></td>
                    <td><%= shot.acidityRating || `-` %></td>
                    <td><%= shot.sweetnessRating || `-` %></td>
                    <td><%= shot.aftertasteRating || `-` %></td>
                    <td><a class="link" href='/shots/<%= shot._id %>/edit'>&#x270E;</a></td>
                    <td><a class="link" href='/shots/<%= shot._id %>/delete'>X</a></td>
                  </tr>
                <% }) %>
              </tbody>
              <% if (user.shots.length >= 5) { %>
                <tfoot>
                  <tr>
                    <td colspan="9">
                      <a class="link" href="/users/me/shots">See entire shot history</a>
                    </td>
                  </tr>
                </tfoot>
              <% } %>
            </table>
          <% } else { %>
            <p>You don't have any shots yet :(</p>
          <% } %>
        </div>
      
        <header class="dashboard-section-header">
          <h3 class="subheader">My Beans</h3>
          <span class="header-links"><a class="link" href="/users/me/beans/new">Add Beans</a></span>
        </header>
        <div class="section-underline"></div>
        
        <div>
          <% if (user.beans.length) { %>
            <table class="dashboard-table">
              <thead class="shots-table-head">
                <tr>
                  <th class="text-col">Brand</th>
                  <th class="text-col">Name</th>
                  <th class="end-col">Delete</th>
                </tr>
              </thead>
              <tbody>
                <% user.beans.forEach(bean => { %>
                  <tr>
                    <td><%- bean.brand %></a></td>
                    <td><%- bean.name %></td>
                    <td><a class="link" href='/users/me/beans/<%= bean._id %>/delete'>X</a></td>
                  </tr>
                <% }) %>
              </tbody>
            </table>
          <% } else { %>
            <p>You haven't added any beans yet!</p>
          <% } %>
        </div>

        <header class="dashboard-section-header">
          <h3 class="subheader">My Machines</h3>
          <span class="header-links"><a class="link" href="/users/me/machines/new">Add Machines</a></span>
        </header>
        <div class="section-underline"></div>
        
        <div>
          <% if (user.machines.length) { %>
            <table class="dashboard-table">
              <thead class="shots-table-head">
                <tr>
                  <th>Brand</th>
                  <th>Name</th>
                  <th class="end-col">Delete</th>
                </tr>
              </thead>
              <tbody>
                <% user.machines.forEach(machine => { %>
                  <tr>
                    <td><%- machine.brand %></a></td>
                    <td><%- machine.name %></td>
                    <td><a class="link" href='/users/me/machines/<%= machine._id %>/delete'>X</a></td>
                  </tr>
                <% }) %>
              </tbody>
            </table>
          <% } else { %>
            <p>You haven't added any machines yet!</p>
          <% } %>
        </div>

        <header class="dashboard-section-header">
          <h3 class="subheader">My Grinders</h3>
          <span class="header-links"><a class="link" href="/users/me/grinders/new">Add Grinders</a></span>
        </header>
        <div class="section-underline"></div>
        
        <div>
          <% if (user.grinders.length) { %>
            <table class="dashboard-table">
              <thead class="shots-table-head">
                <tr>
                  <th>Brand</th>
                  <th>Name</th>
                  <th class="end-col">Delete</th>
                </tr>
              </thead>
              <tbody>
                <% user.grinders.forEach(grinder => { %>
                  <tr>
                    <td><%- grinder.brand %></a></td>
                    <td><%- grinder.name %></td>
                    <td><a class="link" href='/users/me/grinders/<%= grinder._id %>/delete'>X</a></td>
                  </tr>
                <% }) %>
              </tbody>
            </table>
          <% } else { %>
            <p>You haven't added any machines yet!</p>
          <% } %>
        </div>
    </div>
  <%- include('../includes/aside-quote') %>
<%- include('../includes/row-close') %>