<%- include('../includes/row-opening') %>
  <%- include('../includes/nav') %>
  <div class="col-6 col-s-9">
    <h3>My Last Shot</h3>
      <a href="/shots/new">Pull a new shot!</a>
      <ul>
        <% user.shots.forEach(shot => { %>
          <li><%= shot.date.toLocaleDateString() %>: <%= shot.comments %> (<a href='/shots/<%= shot.id %>/delete'>remove</a>)</li>
        <% }) %>
      </ul>
    <h3>My Beans</h2>
      <a href="/users/me/beans/new">Add beans to my account</a>
      <ul>
        <% user.beans.forEach(bean => { %>
          <li><%= bean.brand %> <%= bean.variety %> (<a href='/beans/<%= bean.id %>/delete'>remove</a>)</li>
        <% }) %>
      </ul>
    <h3>My Machines</h2>
      <a href="/users/me/machines/new">Add machines to my account</a>
      <ul>
        <% user.machines.forEach(machine => { %>
          <li><%= machine.brand %> <%= machine.name %> (<a href='/machines/<%= machine.id %>/delete'>remove</a>)</li>
        <% }) %>
      </ul>
    <h3>My Grinders</h2>
      <a href="/users/me/grinders/new">Add grinders to my account</a>
      <% user.grinders.forEach(grinder => { %>
        <li><%= grinder.brand %> <%= grinder.name %> (<a href='/machines/<%= grinder.id %>/delete'>remove</a>)</li>
      <% }) %>
      
  </div>
  <%- include('../includes/aside-quote') %>
<%- include('../includes/row-close') %>