<%- include('../../includes/row-opening') %>
  <%- include('../../includes/nav') %>
  <div class="center col-6 col-s-9">
    <h2>Add Beans to My Account</h2>
    <form action="/users/me/beans" method="POST">

        <label for="beanBrand">Select bean brand:</label>
        <select name="beanBrand" class="primary-selector" required /><br />
        <% beanMap.forEach( (value, key) => { %>
            <option data-varieties="<%= value %>" value="<%= key %>"><%= key %></option>
        <% }) %>
        </select><br /><br />

        <label for="beanId">Select variety:</label>
        <select name="beanId" class="secondary-selector" required /><br />
          <% beanMap.values().next().value.forEach( (value) => { %>
            <option value="<%= value[1] %>"><%= value[0] %></option>
          <% }) %>
        </select><br /><br />
        
        <button>Submit</button>

    </form>
  </div>
  <%- include('../../includes/aside-quote') %>
<%- include('../../includes/row-close') %>